.circle-red {
  background-color: #f0506e;
  border-radius: 30px;
}

.circle-orange {
  background-color: #faa05a;
  border-radius: 30px;
}

.circle-blue {
  background-color: #1e87f0;
  border-radius: 30px;
}

.circle-cyan {
  background-color: #00d6d6;
  border-radius: 30px;
}

.circle-small {
  height: 20px;
  width: 20px;
}

.circle-medium {
  height: 30px;
  width: 30px;
}

.circle-large {
  height: 40px;
  width: 40px;
}

.width-40 {
  width: 40px;
}

.icon {
  width: 25px;
}
