$red-color: #f0506e;
$orange-color: #faa05a;
$blue-color: #1e87f0;
$green-color: #8BC34A;

.circle-red {
  background-color: $red-color;
  border-radius: 30px;
}

.circle-orange {
  background-color: $orange-color;
  border-radius: 30px;
}

.circle-blue {
  background-color: $blue-color;
  border-radius: 30px;
}

.circle-cyan {
  background-color: #00d6d6;
  border-radius: 30px;
}

.circle-small {
  height: 20px;
  width: 20px;
}

.circle-medium {
  height: 30px;
  width: 30px;
}

.circle-large {
  height: 40px;
  width: 40px;
}

.width-40 {
  width: 40px;
}

.icon {
  width: 25px;
}

.report__item {
  & > div::before {
    content: initial;
  }
}

.my-icon-close {
  bottom: 0;
  top: initial !important;
  &::before {
    content: initial !important;
  }
}

.icon-menu {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  padding: 9px;
  box-sizing: border-box;

  &::before {
    content: initial !important;
  }

  &-orange {
    background-color: $orange-color;
  }
  &-red {
    background-color: $red-color;
  }
  &-green {
    background-color: $green-color;
  }
  &-blue {
    background-color: $blue-color;
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1010;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 15px 15px;
  background: rgba(0,0,0,.6);
  opacity: 0;
  transition: opacity .15s linear;
}

.active-modal {
  opacity: 1 !important;
  display: block !important;
  padding: 0 !important;
  background-color: transparent;

  & > div {
    background-color: rgba(#fff, .95);
  }
}

.active-modal-dialog {
  opacity: 1 !important;
}
