@import "../asset/styles/mixins/index";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  margin: 0;
  height: 100%;

  &__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
    @include just-tablet-laptop {
      border-right: 4px solid #eaeaea;
      border-left: 4px solid #eaeaea;
    }
    width: 100%;
    overflow: hidden;
  }

    &__wrapper {
      max-width: 55rem;
    }
}


.avatar_figure {
  color: #ffffff9e;
  font-size: 2rem !important;
  border-color: rgba(255,255,255,.21) !important;
  background: #8792fd !important;
  width: 45px;
  height: 45px;
}

.date {
  opacity: .3;
}

.content {
  background-color: #fff;
  height: 100%;
  border-top-right-radius: 60px;
  border-top-left-radius: 60px;
  padding-top: 30px;
}

.svg1 {
  position: absolute;
  top: -51px;
  transform: rotate(-159deg) scale(1.8);
  right: 30px;
  opacity: 0.07;
  z-index: 0;
}

.svg2 {
  position: absolute;
  top: 60px;
  transform: rotate(110deg);
  left: calc(-100vw + 190px);
  opacity: .07;
}
